@media screen and (max-width: 768px) { 
    .container {
        width: 100%;

    }
}

@media screen and (max-width: 1160px) { 
    .container {
        width: 100%;

    }
}


 
@media screen and (max-width: 480px) { 
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .lessons .col {
        width: 100%;
    }
    
    .steps {
        margin-bottom: 0%;
        padding-bottom: 2rem;
    }

    .col {
        margin: 2rem 0 2rem 0;
    }

    .steps .col {
        width: 100%;
    }

    .why-us {
        background-color: rgb(46, 46, 46);
        margin-bottom: 0%;
        padding: 2rem 0 2rem 0;
    }

    .why-us .col-left {
        width: 100%;
    }

    .why-us .col-right {
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }

}
    